<div class="p-block">
  <p><%= @question %></p>
  <p class="ital">-You</p>
</div>

<div class="p-block yellow">
  <p><%= @answer %></p>
  <p class="ital">-Your Coach</p>
</div>

<%= link_to "Ask another question", ask_path %>
